/* CONTENTS, CODEBLOCKS AND DEFINITIONS */
article div.content {
    margin: 2rem;
    margin-left: 0;
}
body.dark-mode code {
    width: 75%;
    min-width: 300px;
    background: #222;
    color: rgb(200, 200, 200);
}
body.light-mode code {
    width: 75%;
    min-width: 300px;
    background: rgb(220, 220, 220);
    color: rgb(50, 50, 50);
    border-left: 4px solid green;
    border-radius: 4px;
}
body.light-mode code span.hljs-number {
    color: #337e01;
}
body.light-mode code span.hljs-string {
    color: #997160;
}
body.light-mode code span.hljs-function {
    color: rgb(20, 20, 20);
}
body.light-mode code span.hljs-keyword {
    color: #345c7c;
}
body.light-mode code span.hljs-built_in, code span.hljs-title {
    color: #3e9e8b;
}