#form-container {
    margin: 3rem auto;
    padding: 3rem 2rem;
    display: flex;
    width: 60%;
    min-width: 800px;
    box-shadow: 1px 1px 5px rgb(100, 100, 100);
}
body.dark-mode #form-container {
    background: #333;
}
body.light-mode #form-container {
    background: #787878;
}
.zoom-img {
    transition: 1.5s;
    filter: blur(1px);
    transform: scale(2);
}
#form-background {
    flex: 50%;
    overflow: hidden;
    min-width: 250px;
}
#form-background img#image-background {
    width: 200%;
    height: 100%;
    transition: 1.5s;
}
#form-content {
    flex: 50%;
    padding: 3rem;
    position: relative;
}
body.dark-mode #form-content {
    color: rgb(200, 200, 200);
    background: rgb(100, 100, 100);
}
body.light-mode #form-content {
    color: rgb(20, 20, 20);
    background: #999;
}
#forgot-pwd {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#forgot-pwd a {
    font-size: .8rem;
}
body.dark-mode #forgot-pwd a { color: rgb(200, 200, 200) }
body.light-mode #forgot-pwd a { color: rgb(20, 20, 20) }
input[type="text"], input[type="password"], input[type="number"] {
    border: 0;
    padding: 0;
    background: transparent;
    margin: .5rem 0;
    transition: .5s;
    border-bottom: 2px solid #19a04b;
    font-family: "Lato", "sans-serif";
}
input:focus, button[type="submit"] {
    outline: 0;
}
input:active:valid {
    background: transparent;
}
input::placeholder {
    transition: .5s;
}
button[type="submit"] {
    border: 0;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 2px solid #19a04b;
    transition: .5s;
}
button[type="submit"]:hover {
    background: rgb(150, 150, 150);
    cursor: pointer;
}
body.dark-mode input, body.dark-mode input::placeholder, body.dark-mode button[type="submit"] {
    color: rgb(200, 200, 200);
}
body.light-mode input, body.light-mode input::placeholder, body.light-mode button[type="submit"] {
    color: rgb(20, 20, 20);
}
#checkbox-label {
    user-select: none;
}
