/* default styles for pages, to avoid browser own css (margin, padding) */
html, body {
    margin: 0;
    padding: 0;
    font-family: "Lato", "sans-serif";
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* different styles every mode */
body.dark-mode {
    background: #121212;
    color: rgb(200, 200, 200);
}
body.dark-mode a:link, body.dark-mode a:visited {
    color: rgb(25, 160, 75);
}
body.light-mode {
    background: #e4e4e4;
    color: rgb(50, 50, 50);
}
body.light-mode a:link, body.light-mode a:visited {
    color: rgb(16, 100, 47);
}
body.light-mode a:hover {
    color: rgb(25, 160, 75);
}

/* TOP BAR STYLES */
nav {
    position: fixed;
    width: 100%;
    z-index: 99;
}
nav.dark-mode {
    background: #333;
}
nav.light-mode {
    background: #999;
}
nav div {
    display: inline-block;
    margin: .5rem;
}
nav div#home {
    float: right;
    margin: 0;
    margin-right: 25%;
    margin-top: .5rem;
    font-size: 1.5rem;
}
nav div#home a {
    text-decoration: none;
    vertical-align: middle;
    font-size: 1.5rem;
    line-height: 1;
}
body.light-mode nav div#home a { color:rgb(50, 50, 50) }
body.dark-mode nav div#home a { color: rgb(200, 200, 200) }
nav div#menu-button {
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 1;
    width: 70%;
    user-select: none;
}
nav div#toggle-dark-mode {
    float: right;
    margin-bottom: 0;
}
nav div#toggle-dark-mode img {
    cursor: pointer;
}
nav div#toggle-dark-mode img:hover:active {
    background: #555555;
}
nav div#menu-button {
    width: 7.5rem;
    text-align: center;
    vertical-align: middle;
}
nav div#menu-button:hover:active {
    background: #555555;
}

/* ARTICLE STYLES */
div.row {
    display: flex;
    padding-top: 3em;
}
aside#menu {
    display: none;
    flex: initial;
    width: 150px;
    margin: 0;
    font-size: 1rem;
    height: 100%;
    z-index: 1;
    position: fixed;
}
article {
    flex: 1;
    margin-left: 5%;
}
aside#menu div.sticky {
    position: fixed;
    padding: 1rem;
}
body.dark-mode aside#menu div.sticky {
    background: #333;
}
body.light-mode aside#menu div.sticky {
    background: #999;
}
aside#menu h2 {
    margin: .7rem .5rem;
}
aside#menu a {
    display: block;
    margin: .5rem;
}
ol, ul {
    padding-left: 15px;
}

/* CONTENTS, CODEBLOCKS AND DEFINITIONS */
article div.content {
    margin: 2rem 0;
    width: 65%;
}
code {
    width: 100%;
    background: #222;
    color: rgb(200, 200, 200);
}
body.light-mode code {
    background: rgb(220, 220, 220);
    color: rgb(50, 50, 50);
    border-left: 4px solid green;
    border-radius: 4px;
}
body.light-mode code span.hljs-number {
    color: #337e01;
}
body.light-mode code span.hljs-string {
    color: #997160;
}
body.light-mode code span.hljs-keyword {
    color: #345c7c;
}
body.light-mode code span.hljs-built_in {
    color: #3e9e8b;
}
