/* TEXT OVERLAPS CORRECTION */
table#tabella {
    margin-left: -8%;
}
table, th, td {
    border-collapse: collapse;
    max-width: 90px;
    text-align: center;
}
body.dark-mode table, body.dark-mode th, body.dark-mode td {
    border: 2px solid #bebebe;
}
body.light-mode table, body.light-mode th, body.light-mode td {
    border: 2px solid rgb(25, 25, 25);
    color: black;
}
th, td {
    padding: 10px;
}
body.dark-mode th {
    background-color: rgb(20, 20, 20);
}
body.light-mode th {
    background-color: rgb(100, 100, 100);
    color: rgb(200, 200, 200);
}
table {
    border-spacing: 5px;
}

body.dark-mode tr:nth-child(even) {
    background-color: rgb(100, 100, 100);
}
body.light-mode tr:nth-child(even) {
    background-color: rgb(190, 190, 190);
}
body.dark-mode tr:nth-child(odd) {
    background-color: rgb(50, 50, 50);
}
body.light-mode tr:nth-child(odd) {
    background-color: rgb(170, 170, 170);
}
