:root {
    --bg-color: rgb(50, 50, 50);
    --text-color: rgb(200, 200, 200);
    --fg-color: rgb(40, 125, 20);

    font-size: 18px;
}

html, body {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
}

a {
    color: var(--text-color);
}
a:hover {
    color: rgb(170, 170, 170);
}

main {
    width: 100%;
    margin: 1.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type = "text"], input[type = "password"],
input[type = "email"], input[type = "search"] {
    background: transparent;
    border: none;
    border-bottom: 3px solid var(--fg-color);
    color: var(--text-color);
}
input:focus {
    transition: .3s;
    outline: none;
    border-bottom-width: 2px;
    background: rgb(70, 70, 70);
}
